{{view Ember.TextField valueBinding="newEntryName" action="addEntry"}}
<ul>
  {{#each controller}}
    <li>
      {{name}}
      {{#if winner}}      
        <span {{bind-attr class="winner highlight"}}>WINNER</span>
      {{/if}}
    </li>
  {{/each}}
</ul>
<button {{action drawWinner}}  {{bind-attr disabled="allWinners"}}>Draw Winner</button>